<section class="hero is-success">
  <div class="hero-body">
    <div class="container" id = "burger">
      <h1 class="title">
      EAT DA BURGER
      </h1>
      <img src="assets/img/burger-2.png" height = "150" width = "150">
    </div>
  </div>
</section>

<div class = "tile is-ancestor" id="holder">
   
  <div class="tile is-parent is-2"></div>
    <h2>Burgers</h2>
   <div class="tile is-parent is-4">
        
         <ul class = "items tile is-child">
         {{#each burgers}}
              <li>
                  <p> {{burger_name}}
                    <button data-id="{{ id }}" class="is-success is-light devour button is-small">DEVOUR IT</button>
                 </p>
              </li>
        
        {{/each}}
    </ul>
  </div>
  <h2>Eaten Burgers</h2>
  <div class="tile is-parent">
      <ul class="tile is-child">
          {{#each eaten}}
           <li>
               <p>{{burger_name}}</p>
            </li>
       
        {{/each}}
  
    </ul>
  </div>
</div>

<div class="tile">
  <div class="tile is-parent">
  <div class="tile is-parent is-4"></div>
  <h2 id ="add">Add a burger: </h2>
    <div class="tile is-child">
      <form id="addaburger" class="button-size">
         <textarea name="burger" type="text"></textarea>
          <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>


<script "text/javascript">
$("#addaburger").on("submit", (e) =>{
  e.preventDefault();
  let burgerName = $("#addaburger [name=burger]").val().trim()


  $.post('/api/burger',{ name : burgerName }).then(results=> {
    if(results==='OK'){
      location.reload()
    }
  })
})

  $(".devour").on("click", function(e){ 
    e.preventDefault();

    var id = $(this).data("id")


    $.ajax("/api/burger/" + id, {
      type: "PUT",
      data: id
    }).then(()=>{
      console.log("updated id ", id);
      location.reload();
    });
  });


</script>