<section class="hero is-success">
  <div class="hero-body">
    <div class="container" id = "burger">
      <h1 class="title">
      EAT DA BURGER
      </h1>
      <img src="assets/img/burger.png" height = "150" width = "150">
    </div>
  </div>
</section>

<div class = "tile is-ancestor" id="holder">
    <div class="tile is-parent is-2"></div>
   <div class="tile is-parent is-4">
    <ul tile = "tile is-child">
        <h2>Burgers</h2>
        {{#each burgers}}
            {{#unless this.devoured}}
        <li>
            <p> {{id}}. {{burger_name}}
                <button data-burgerid="{{id}}" class = "devour">Devour It!</button>
            </p>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
  </div>
  <div class="tile is-parent">
     <ul class="tile is-child">
         <h2>Eaten Burgers</h2>
        {{#each burgers}}
            {{#if this.devoured}}
        <li>
            <p>{{burger_name}}</p>
        </li>
        {{/if}}
        {{/each}}
    </ul>
  </div>
</div>


<h2>Add a burger</h2>
<form id="addaburger" class="button-size">
    <textarea name="burger" type="text"></textarea>
    <button type="submit">Submit</button>
</form>